<footer class="footer">
  <div class="inner">
    <a href="{{ .BaseURL }}/" class="left" aria-label="На главную">
      <div class="logo">
        <img src="{{ .BaseURL }}/media/logo.webp" alt="Логотип" class="logoImage">
      </div>
      <div class="brandBlock">
        <span class="brand">Барская усадьба</span>
      </div>
    </a>
    <div class="middle">
      <span class="phone">+7 (922) 447 44 77</span>
      <button type="button" class="ctaButton" data-modal-open="contact">Оставить заявку</button>
      <a href="tel:+79224474477" class="phoneInline">+7 (922) 447 44 77</a>
    </div>
    <div class="right">
      <div class="links">
        <a href="{{ .BaseURL }}/privacy" class="docButton">Политика конфиденциальности</a>
      </div>
    </div>
    <a class="madeWith" href="https://cookiespooky.github.io/np/ru" target="_blank" rel="noopener noreferrer">Сделано на Notepub</a>
  </div>
</footer>
